

<div xmlns:th="http://www.thymeleaf.org" th:fragment="admin-mian-js-include">
  <script th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/script/docs.min.js}"></script>
  <script th:src="@{/layer/layer.js}"></script>
  <script type="text/javascript">
    $(function () {
      $(".list-group-item").click(function(){
        if ( $(this).find("ul") ) {
          $(this).toggleClass("tree-closed");
          if ( $(this).hasClass("tree-closed") ) {
            $("ul", this).hide("fast");
          } else {
            $("ul", this).show("fast");
          }
        }
      });
    });
  </script>
  <script type="text/javascript" th:src="@{/jquery/jquery.pagination.js}"></script>
</div>

