<div xmlns:th="http://www.thymeleaf.org" th:fragment="dialog_edit">
    <div id="roleEditModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">尚筹网系统弹窗</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <!--表单信息-->
                        <input id="role_id_edit" type="hidden">
                        <div class="form-group">
                            <label for="roleName_edit">角色名</label>
                            <input type="text" class="form-control" id="roleName_edit" name="name" placeholder="请输入角色名">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="roleEditBtn" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> 保存</button>
                        <button id="roleResetBtn" type="reset" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
