<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <div th:replace="~{fragments/head::style_head}"></div>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <style>
    .tree li {
      list-style-type: none;
      cursor:pointer;
    }
    .tree-closed {
      height : 40px;
    }
    .tree-expanded {
      height : auto;
    }
  </style>
</head>

<body>

<!--页头标签-->
<div th:insert="~{fragments/admin-mian-navbar-include::admin-mian-navbar-include}"></div>

<div class="container-fluid">
  <div class="row">
    <!--侧边栏碎片-->
    <div th:insert="~{fragments/admin-mian-sidebar-include::admin-mian-sidebar-include}"></div>
    <!--页面主体-->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">数据列表</a></li>
        <li class="active">编辑</li>
      </ol>

      <div class="panel panel-default">
        <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
        <div class="panel-body">

          <form role="form" method="post" th:action="@{/admin/do/edit}">
            <p style="color: red" th:text="${exceptionInfo}"></p>

            <input type="hidden" name="pageNo" th:value="${pageNo}">
            <input type="hidden" name="id" th:value="${user.id}">
            <input type="hidden" name="keyword" th:value="${keyword}">
            <div class="form-group">
              <label for="exampleInputPassword1">登陆账号</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="loginAcct" th:value="${user.loginAcct}" placeholder="请输入登陆账号">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword3">用户名称</label>
              <input type="text" name="userName" class="form-control" id="exampleInputPassword3" th:value="${user.userName}" placeholder="请输入用户名称">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">邮箱地址</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" th:value="${user.email}" placeholder="请输入邮箱地址">
              <p class="help-block label label-warning">请输入合法的邮箱地址, 格式为： xxxx@xxxx.com</p>
            </div>
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 更新</button>
            <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!--js碎片-->
<div th:replace="~{fragments/admin-mian-js-include::admin-mian-js-include}"></div>
</body>
</html>
